<%- include('header'); -%>

    <div class="box"  id=heading>

                                              <!--NEW div sectioning: look through entire thing -->
<h1><%= aTitle %></h1>
</div>

<div class="box">

  <div class="box">
    <% for(var i=0; i< listArray.length; i++){ %>
<div class="item">


      <input type="checkbox">
     <p><%= listArray[i] %></p>
     </div>
    <% } %>

  </div>

  <form class="item" action="/" method="post">

  <input type="text" name="addStuff" placeholder="Add item" autocomplete="off"> <!--NEW autocomplete -->

    <button  type="submit" name="list" value=<%= aTitle %>>+</button>
  </form>
</div>

<%- include('footer'); -%>
